<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center center-container">
            <div class="list-wrapper">
                <div class="search d-flex">
                    <div class="col-12 d-flex flex-column flex-md-row justify-content-around">
                        <div class="col d-flex justify-content-between d-md-none mb-2">
                            <h2>Buscar <i class="bi bi-search"></i></h2>
                            <button class="default-button" (click)="save(false)"><i class="bi bi-plus-lg"></i></button>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar por nome..." (input)="search($event, 'name')">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar por e-mail..." (input)="search($event, 'email')">
                        </div>
                        <button class="default-button d-none d-md-block" (click)="save(false)"><i class="bi bi-plus-lg"></i></button>
                    </div>
                </div>
                <div class="list">
                    <div class="list-header d-none d-md-flex">
                        <div class="col-4"><p class="title">Nome</p></div>
                        <div class="col-4"><p class="title">E-mail</p></div>
                        <div class="col-4"><p class="title">Ações</p></div>
                    </div>
                    <div class="card-wrapper col-12" *ngIf="filtered_users.length > 0">
                        <div class="card-item d-flex py-2" *ngFor="let user of filtered_users">
                            <p class="col-4 card-field">{{ user.name }}</p>
                            <p class="col-4 card-field">{{ user.email }}</p>
                            <div class="col-4 card-field">
                                <button class="default-button ms-3" (click)="showUserCard(user)"><i class="bi bi-person"></i></button>
                                <button class="default-button ms-3" (click)="save(true, user)"><i class="bi bi-pencil-square"></i></button>
                                <button class="default-button ms-3" (click)="deleteUser(user.id!)"><i class="bi bi-trash3"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="filtered_users.length == 0" class="d-flex justify-content-center m-3 text-secondary">
                    <p>Nenhum usuário cadastrado! <i class="bi bi-hand-thumbs-down-fill"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>