p {
    margin: 0;
}

.center-container {
    height: 100vh;
}

.list-wrapper {
    width: 80vw;
    height: 80vh;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 3px 5px 12px lightgrey;
    padding: 15px;
}

.list {
    padding: 10px;
}

.list::-webkit-scrollbar {
    width: 6px;
}

.list-header p {
    margin: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.search {
    // border-bottom: 1px solid lightgrey;
    padding: 15px;
}

.input-group {
    width: 450px;
}

.title {
    color: var(--primary-color);
    font-size: 1.5em;
    text-align: center;
}

.card-wrapper {
    padding: 10px;
    max-height: 450px;
    overflow-y: scroll;
    box-shadow: inset 0px 0px 7px lightgrey;
}

.card-item {
    border-bottom: 1px solid #ccc; 
}
  

.card-field {
    display: flex;
    justify-content: center;
    align-self: center;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: lightgray;
    -webkit-border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    -webkit-border-radius: 8px;
}

.hide {
    display: none !important;
}

.card-field span {
    margin-left: 10px;
    font-size: 0.95em;
}

// Media Querrys

@media screen and (max-width: 1295px) {
    .input-group {
        width: 290px !important;
    }
}

@media screen and (max-width: 880px) {
    .card-field {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px){
    .input-group {
        width: 245px !important;
    }
}

@media screen and (max-width: 425px) {
    .input-group {
        margin-bottom: 10px;
        width: 100% !important;
    }

   .search {
        flex-direction: column !important;
   }
}

@media screen and (max-width: 425px) {
    .input-group {
        margin-bottom: 10px;
    }

   .search {
        flex-direction: column !important;
   }

   .card-field {
        justify-content: unset;
        align-self: unset;
        margin-bottom: 5px;
   }

   .default-button {
        font-size: 23px;
   }
}

@media screen and (max-width: 375px) {
    .card-field.mobile span{
        font-size: 0.85em !important;
    }
}