p {
    margin: 0;
}

.center-container {
    height: 100vh;
}

.list-wrapper {
    width: 80vw;
    height: 80vh;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 3px 5px 12px lightgrey;
    padding: 15px;
}

.list {
    padding: 10px;
}

.list-header p {
    margin: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.search {
    // border-bottom: 1px solid lightgrey;
    padding: 15px;
}

.default-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 25px;
}

.input-group {
    width: 450px
}

.title {
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
}

.card-wrapper {
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
}

.card-item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.card-field {
    display: flex;
    justify-content: center;
    align-self: center;
}