<div class="container">
    <div class="row">
        <div class="form col-12" [formGroup]="form">
            <div class="mb-4">
                <label for="formGroupExampleInput" class="form-label">Nome*</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome Exemplo" formControlName="name">
            </div>
            <div class="mb-4">
                <label for="formGroupExampleInput2" class="form-label">E-mail*</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="exemplo@email.com" formControlName="email">
            </div>
            <div class="mb-4">
                <label for="formGroupExampleInput2" class="form-label">Idade</label>
                <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="22" formControlName="age">
            </div>
            <button [ngClass]="form.invalid ? 'inactive-button' : 'default-button'" (click)="save()">{{is_edit ? 'Editar' : 'Cadastrar'}}</button>
        </div>
    </div>
</div>