
:root {
    --primary-color: #F85408;
    --secondary-color: #FFF3E8; 
    
}

body {
    background-color: var(--secondary-color);
}

::ng-deep .mat-dialog-container {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.default-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 25px;
}

.inactive-button {
  background-color: #d3d3d3;
  border: none;
  border-radius: 8px;
  color: #000;
  font-size: 25px;
}

.custom-snackbar-success {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
}

.custom-snackbar-error {
  background-color: #f44336;
  color: #ffffff;
  font-size: 16px;
}